


.header{
  background-color: #222933;
}
.nav__item{
padding: 30px 15px;
border-bottom: 2px solid red;

}
.nav__item:hover{
  background-color: burlywood;
  color: white;
}
.nav__link{
  text-decoration: none;
  color: white;
}
.nav__link:hover{
  color: white;
}

.card{
  min-height: 300px;
}

.card-img{
  height: 250px;
  object-fit: cover;
}

.modal-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}